@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Tilt+Warp&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

/* Navigation Area */

.navigation-area{
    z-index: 2;
    width: 100%;
    /* background-color: brown; */
    text-align: center;
}

.navigation-area #main-heading{
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Tilt Warp', cursive !important; 
    color: rgb(86, 20, 102);
}

.navigation {
    border-top: 5px double #949494;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .left-side .sub-heading-one{
    font-size: 25px;
}

.navigation > div:nth-child(odd) {
    margin-left: 20px;
}

.navigation .right-side select{
    font-size: 14px;
    border-radius: 5px;
    padding: 8px 15px;
}

.navigation .right-side button{
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgb(86, 20, 102);
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.navigation .right-side button:active{
    transform: scale(0.95);
}

.navigation > div:nth-child(even) {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px;
}

/* Form Area */

.form-area {
    background-color: #ffffff;
    display: none;
    font-family: sans-serif;
    width: auto;
    height: auto;
    padding: 30px;
    border: 2px solid #c7c7c7;
    border-radius: 15px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.form-area #form{
    display: flex;
    flex-direction: column;
}

#form.add #updateTaskBtn{
    display: none;
}

#form.update #confirmAddTaskBtn{
    display: none;
}

.form-area #form .form-inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.form-area #form .form-inputs label {
    font-size: 18px;
    color: #000000;
}

.form-area #form .form-inputs input{
    margin-bottom: 15px;
}

.form-area #form .form-inputs input[type = "text"] {
    width: 400px;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid #b4b4b4;
}

.form-area #form .form-inputs input[type = "date"]{
    padding: 10px;
}

.form-area #form .form-inputs > div{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.form-area #form .form-inputs > div > label{
    margin-right: 15px;
}

.form-area #form .form-inputs > div > input{
    margin: 0;
    width: 20px;
    height: 20px;
}

.form-area #form .form-controls{
    margin-top: 25px;
    align-self: flex-end;
}

.form-area #form .form-controls input{
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: rgb(86, 20, 102);
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.form-area #form .form-controls input:active{
    transform: scale(0.95);
}

.form-area #form .form-controls input[type = 'reset']{
    border: 1px solid rgb(99, 99, 99);
    color: rgb(99, 99, 99);
    background-color: white !important;
}

/* Main Table Area */

.main-area{
    width: 70%;
    margin: 25px auto;
}

.main-area table{
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

td{
    padding: 10px;
    max-width: 375px;
    max-height: 100px;
    border-bottom: 1px solid #dddddd;
}

td:nth-last-child(1):not(.notFound){
    color: rgb(236, 88, 88);
    cursor: pointer;
    text-align: center;
}

td:nth-last-child(2){
    color: rgb(48, 155, 114);
    cursor: pointer;
    text-align: center;
}

td:nth-last-child(1):not(.notFound):hover{
    background-color: rgb(236, 88, 88);
    color: #ffffff;
}

td:nth-last-child(2):hover{
    background-color: rgb(48, 155, 114);
    color: #ffffff;
}

td:nth-last-child(1):not(.notFound):active{
    transform: scale(0.95);
}

td:nth-last-child(2):active{
    transform: scale(0.95);
}

tr th {
    text-align: left;
    background-color: #efff5e;
    font-size: 22px;
    padding: 10px;
}

/* Important task Area */

.important-task-area{
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.important-task-area > h2 {
    margin-bottom: 10px;
    align-self: flex-start;
    font-size: 24px;
    color: rgb(46, 196, 113);
}

.important-task-area .important-list-item{
    width: 100%;
    display: flex;
    gap: 15px;
}

.important-task-area .important-list-item .date-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 26px;
    font-family: 'Tilt Warp', cursive !important;
}

.important-task-area .important-list-item .date-time .date{
    color: rgb(92, 0, 128);
}

.important-task-area .important-list-item .title-deadline{
    border: 2px solid rgb(134, 134, 134);
    width: 700px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
}

.important-task-area .important-list-item .title-deadline .title{
    font-size: 22px;
}

.important-task-area .important-list-item .title-deadline .deadline-timing{
    font-size: 12px;
}

